################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/OpenCV_labs/Debug
/.vs/OpenCV_labs/v14
*.opendb
*.db
*.user
